<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PalmeusJS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/teams">Teams</a>
            </div>
            <div class="navbar-nav ml-auto">
                {{#if loggedIn}}
                <a class="nav-item nav-link right" href="/user/{{loggedIn}}">{{loggedIn}}</a>
                <a class="nav-item nav-link right" href="/signout">Sign out</a>
                {{else}}
                <a class="nav-item nav-link right" href="/signin">Sign in</a>
                <a class="nav-item nav-link right" href="/signup">Sign up</a>
                {{/if}}
            </div>
        </div>
    </nav>
</header>